body {
  margin: 0;
  font-family: Arial;
  background: #0d1117;
  color: #f0f6fc;
}

header {
  text-align: center;
  padding: 30px;
}

.card {
  background: #161b22;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  margin-top: 0;
}

.project {
  background: #1f2937;
  padding: 15px;
  margin-top: 10px;
  border-radius: 6px;
}
